.header {
  padding: 59px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 55px;
}

.header__menu-link {
  font-weight: 100;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.header__menu-link:hover {
  color: var(--color-gold);
}

.header__menu-link:active {
  color: var(--color-gold-dark);
}
